html, body {
    margin: 0;
    padding: 0;
}

header{
    width: 375px;
    height: 67px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 16px 0;
    border-bottom: 1px solid #C6C6C6;
}
.logo{
    width: 127;
}
.user{
    width: 34px;
    border-radius: 50%;
    margin: auto 0;
}